/* You can add global styles to this file, and also import other style files */

.red {
    background-color: red;
    color: orange;
    
}

.yellow {
    background-color: yellow;
    color: orange;
    
}

.green {
    background-color: green;
    color: white;
    
}