<xrmui-layout panels="200px,?" orientation="vertical" [resizeable]="true">
    <div c1>Left side</div>
    <xrmui-layout panels="50%,?" c2 orientation="horizontal" [resizeable]="true">
        <div c1 style="margin-right: 10px;">
            <xrmui-info icon="save" label="Info test" [badget]="2">
                og her kommer så indhold<br />
                <xrmui-input [showlock]="false" [required]="true" label="Flere linjer" short-label="above" [(value)]="description" [numberoflines]="5" [maxlength]="20" placeholder="Kom med noget tekst"/>
                <xrmui-input label="Pick a date" short-label="above" [(value)]="dato" validate="date"/>
                <br />
                {{ dato() | date:'dd-MM-yyyy' }}
            </xrmui-info>
        </div>
        <xrmui-panel c2>
            indhold i den nedre halvdel af højre skærmbillede
            <br />
            <xrmui-icon>save</xrmui-icon>
            &nbsp;
            <xrmui-icon type="fa">fa-address-card</xrmui-icon>
            &nbsp;
            <xrmui-icon type="fa" [disabled]="true">fa-regular fa-airplay</xrmui-icon>
            så skriver vi da også noget efter iconet

            <div style="max-width: 400px;">
                <xrmui-input [showlock]="false" short-label="above" label="Number" [(value)]="mynumber" validate="decimal" [decimals]="2"></xrmui-input>
                <br />
                {{ choiceName() }}
            </div>

            <div style="max-width: 400px;">
                <xrmui-input [showlock]="false" short-label="above" label="Tekst label" placeholder="Start type to search" [(value)]="text" toolIcon="construction" (toolClick)="toolClick()"></xrmui-input>
            </div>

            <div style="max-width: 400px;">
                <xrmui-input [showlock]="false" short-label="above" label="Labeltekst" placeholder="Start type to search" [(value)]="search" [autocomplete]="searchService" (onselect)="select($event)" [autoopenonblank]="true" info="Please select the right one"></xrmui-input>
            </div>

            <div style="max-width: 400px;">
                <xrmui-input [showlock]="false" short-label="above" label="Choise" [selectable]="choices" [(selected)]="choice"></xrmui-input>
                <br />
                {{ choiceName() }}
            </div>
            <div style="max-width: 400px;">
                <xrmui-tabs [tabs]="tabs" [(current)]="selected"></xrmui-tabs>
            </div>
        </xrmui-panel>
    </xrmui-layout>
</xrmui-layout>


