<xrmui-layout panels="200px,?" orientation="vertical" [resizeable]="true">
    <div c1>Left side</div>
    <xrmui-layout panels="50%,?" c2 orientation="horizontal" [resizeable]="true">
        <div c1>
            <xrmui-info icon="save" label="Info test" [badget]="2">
                og her kommer så indhold
            </xrmui-info>
        </div>
        <xrmui-panel c2>
            indhold i den nedre halvdel af højre skærmbillede
            <br />
            <xrmui-icon>save</xrmui-icon>
            &nbsp;
            <xrmui-icon type="fa">fa-address-card</xrmui-icon>
            &nbsp;
            <xrmui-icon type="fa" [disabled]="true">fa-regular fa-airplay</xrmui-icon>
            så skriver vi da også noget efter iconet
        </xrmui-panel>
    </xrmui-layout>
</xrmui-layout>


