<xrmui-layout panels="25%,25%,25%,?" orientation="vertical">
    <xrmui-layout panels="33%,33%,?" orientation="horizontal" c1>
        <div class="c c1" c1>C1 container</div>
        <div class="c c2" c2>C2 container</div>
        <div class="c c3" c3>C3 container</div>
    </xrmui-layout>
    <div class="c c2" c2>C2 container</div>
    <xrmui-layout panels="33%,33%,?" orientation="horizontal" c3>
        <div class="c c3" c1>C1 container</div>
        <div class="c c1" c2>C2 container</div>
        <div class="c c4" c3>C3 container</div>
    </xrmui-layout>
    <div class="c c4" c4>C4 container</div>
</xrmui-layout>