<div class="columns">
    <div class="column green fixed" style="--fixed-size:200px">
        <div style="position: absolute; left: 0; right: 0; top: 0; bottom: 0; background-color: blue;">in the green thing</div>
    </div>
    <div class="column orange overflow-y">
        c2<br />
        c2<br />
        c2<br />
        c2<br />
        c2<br />
        c2<br />
        c2<br />
        c2<br />
        c2<br />
        c2<br />
        c2<br />
        c2<br />
        c2<br />
        c2<br />
        c2<br />
        c2<br />
        c2<br />
        c2<br />
        c2<br />
        c2<br />
        c2<br />
        c2<br />
        c2<br />
        c2<br />
        c2<br />
        c2<br />
        c2<br />
        c2<br />
        c2<br />
        c2<br />
        c2<br />
        c2<br />
        c2<br />
        c2<br />
        c2<br />
        c2<br />
        c2<br />
        c2<br />
        c2<br />
    </div>
    <div class="column red">
        <div class="rows">
            <div class="row gray fixed overflow-y" style="--fixed-size:200px">
                Gray row<br />
                Gray row<br />
                Gray row<br />
                Gray row<br />
                Gray row<br />
                Gray row<br />
                Gray row<br />
                Gray row<br />
                Gray row<br />
                Gray row<br />
                Gray row<br />
                Gray row<br />
                Gray row<br />
                Gray row<br />
                Gray row<br />
                Gray row<br />
                Gray row<br />
            </div>
            <div class="row pink">
                <div style="position: absolute; left: 0; right: 0; top: 0; bottom: 0; background-color: blue;">
                    some content within pink
                </div>
            </div>
            <div class="row green">
                the green thing here
            </div>
        </div>
    </div>
</div>